<h1>Listing lists</h1>

<table>
  <thead>
    <tr>
      <th>Kategoria</th>
      <th>Nazwa Listy</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.category.name %></td>
        <td><%= list.name %></td>
        <td><%= link_to 'Show', list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
