<h2>Statystyki</h2>

<table>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td style="background-color:yellow;"><%= list.name %></td>
        <% list.tasks.each do |task| %>
          <td><%= task.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>