<h2>Statystyki</h2>

<table>

  <tbody>
    <% @category.lists.sort_by{|obj| obj.name.to_i}.each do |list| %>
      <tr>
        <td style="background-color:yellow;"><%= list.name %></td>
        <% list.tasks.sort_by{|obj| obj.name.to_i}.each do |task| %>
          <td><%= task.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>