<center>
	<img src="http://img3.stylowi.pl//images/items/o/201304/stylowi_pl_humor_pingwin-motywacyjny-_6426304.gif" alt="Motywacja" /><br>
	<% if user_signed_in? %>
		<a href=<%= user_no_progresses_path %> class="button secondary"></span>Lista trudnych zadań</a>
	<% end %>
</center>