<center><h3>Lista trudnych zadań</h3></center>
<table>
  <thead>
    <tr>
      <th>Kategoria</th>
      <th>Lista</th>
      <th>Zadanie</th>
    </tr>
  </thead>

  <tbody>
    <% @noprogresses.uniq!(&:task_id).each do |noprogress| %>
      <tr>
        <td><center><%= noprogress.task.list.category.name %></center></td>
        <td><center><%= noprogress.task.list.name %></center></td>
        <td><center><%= noprogress.task.name %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <a href=<%= root_url %> class="button secondary"></span>Wróć</a>
</center>